* {
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: var(--fontColor);

  // COLORS CUSTOM PROPERTIES :
  --bodyColor: #fff;

  --fontColor: rgb(255, 255, 255);
}

//------GENERAL

body {
  padding: 0;
  margin: 0;
  background-color: #0c221a;
}

a {
  text-decoration: none;
  color: var(--fontColor);
}

p {
  padding: 0 10rem;
}

//------DISPLAY

.main-container {
  margin: 10px;
  padding: 0;
  background-color: #0c221a;
  // border: double 2px blueviolet;
  height: 100vh;
  width: 95vw;
  //Layout
  display: grid;
  grid-template-areas:
    "h"
    "m"
    "f";
}

.header {
  // border: solid 1px green;
  grid-area: "h";
  // height: 20vh;
}

.main {
  grid-area: "m";
}

.work-room {
  // border: 1px solid blue;
  display: flex;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 4rem;
  padding: 1rem;
}

.footer {
  grid-area: "f";
}

// -----------NAVIGATION

.nav {
  transition: 0.6s ease;
  z-index: 0;
  position: fixed;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-bottom: 6rem;
  padding-right: 2rem;
  transform: translateY(-2rem);
  background-color: #0c221a;
}
.navTopAnimation {
  transition: 0.6s ease;
  z-index: 0;
  position: fixed;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  margin-bottom: 4rem;
  padding-right: 2rem;
  transform: translateY(-35rem);
}

.hamburger {
  transition: 0.6s ease;
  z-index: 2;
  position: absolute;
  margin-top: 3rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  margin-bottom: 3rem;
}

.top-line {
  position: absolute;
  top: 8px;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.bottom-line {
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

// NAVIGATION ON CLICK HAMBURGER MOBILE + DESKTOP

.nav-list {
  z-index: 1;
  border: 1px solid black;
  display: none;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.nav-item {
  // border: solid 1px brown;
  padding: 0 1rem;
  width: 33%;
  text-align: center;
}

//---HAMBURGER-ANIM---------

//-------------TABLET---760px---------
