@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&family=Rubik+Marker+Hatch&family=Ubuntu&display=swap");

* {
  // box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;

  // COLORS CUSTOM PROPERTIES :
  --bodyColor: #fff;

  --fontColor: rgb(255, 255, 255);

  // SIZES CUSTOM PROPERTIES :
  --sizeMainPic: clamp(min(16rem), 80vw, max(40vw));
  --sizeTitles: clamp(min(2rem), 3rem, max(25rem));

  //FONTS :
  --ffPlayfair: "Playfair Display", serif;
  --ffRubik: "Rubik Marker Hatch", cursive;
  --ffUbuntu: "Ubuntu", sans-serif;
}

//------GENERAL

body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: #0c221a;
}

a {
  z-index: 3;
  text-decoration: none;
}

a:visited {
  color: white;
}

//------DISPLAY

.main-container {
  background-color: #0c221a;
  height: 100vh;
  width: 100%;
  //Layout
  display: grid;
  grid-template-areas:
    "h"
    "m"
    "f";
}

.header {
  grid-area: "h";
}

main {
  grid-area: "m";
}

.deskPicContainer {
  z-index: -20;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
  margin-bottom: 4rem;
}

.work-room {
  display: block;
  padding: 0;
  margin-top: 2rem;
  width: var(--sizeMainPic);
}

.footer {
  grid-area: "f";
  width: 100%;
}

// -----------CONTENT------

h1 {
  transition: 0.5s ease;
  text-align: center;
  font-size: var(--sizeTitles);
  margin-top: 2rem;
  margin-bottom: 5rem;
  font-family: var(--ffPlayfair);
  letter-spacing: 4px;
}

// -----------NAVIGATION

.nav {
  z-index: 10;
  background-color: #0c221a;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 4.5rem;
  width: 100%;
  position: fixed;
  padding-top: 1rem;
  box-shadow: 2px 3px 12px 3px black;
}

.logo {
  background-color: #0c221a;
  width: 4rem;
  height: 4rem;
}

.logo > img {
  width: 100%;
}

.hamburger {
  transition: 0.3s ease;
  cursor: pointer;
  width: 4rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .top-line {
    transition: 0.3s ease;
    height: 4px;
    width: 2rem;
    background-color: #fff;
    transform: translate(1rem, -0.5rem);
    rotate: 0;
  }
  .bottom-line {
    transition: 0.3s ease;
    height: 4px;
    width: 2rem;
    background-color: #fff;
    transform: translate(-1rem, 0.5rem);
    rotate: 0;
  }
}

.ham-anim {
  transition: 0.3s ease;
  background-color: #091812;
  border: 0.6px solid rgb(115, 104, 76);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  // transform: translateX(2rem);
  .top-line {
    transition: 0.3s ease;
    height: 4px;
    width: 2rem;
    background-color: #fff;
    transform: translate(0.7rem, -0.7rem);
    rotate: z 45deg;
  }
  .bottom-line {
    transition: 0.3s ease;
    height: 4px;
    width: 2rem;
    background-color: #fff;
    transform: translate(-0.7rem, -0.7rem);
    rotate: z -45deg;
  }
}

// NAVIGATION ON CLICK HAMBURGER MOBILE + DESKTOP
//TODO SET THE ANIMATION HAMBURGER ON CLICK
//TODO SET NAV ITEMS DISPLAY ON CLICK

.nav-list {
  z-index: 2;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  visibility: hidden;
  background-color: #091812;
  border: solid 0.3px rgba(255, 255, 255, 0);
  border-radius: 4px;
  transition: 1s ease-out;
  width: 100%;
  height: 0;
  top: 5.5rem;
}

.nav-list-toggle {
  z-index: -2;
  position: absolute;
  visibility: visible;
  background-color: #091812;
  border: solid 0.1px rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  transition: 1s ease;
  width: 100%;
  height: 3rem;
  top: 5.5rem;
}

.nav-item {
  width: 3rem;
  z-index: -50;
  transition: 0.1s ease;
  text-align: center;
  color: #00a96500;
  text-decoration: none;
}

.nav-item-toggle {
  z-index: -2;
  transition: 0.1s ease-in;
  text-align: center;
  color: rgb(255, 255, 255);
}

//---HAMBURGER-ANIM---------

//-------------TABLET---760px---------
