* {
  box-sizing: border-box;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: var(--fontColor);

  // COLORS CUSTOM PROPERTIES :
  --bodyColor: #fff;

  --fontColor: rgb(255, 255, 255);

  // SIZES CUSTOM PROPERTIES :
  --sizeMainPic: clamp(min(16rem), 80vw, max(40vw));
  --sizeTitles: clamp(min(2rem), 3rem, max(25rem));
}

//------GENERAL

body {
  padding: 0;
  margin: 0;
  background-color: #0c221a;
}

a {
  text-decoration: none;
  color: var(--fontColor);
}

//------DISPLAY

.main-container {
  margin: 0;
  padding: 0;
  background-color: #0c221a;
  // border: double 2px blueviolet;
  height: 100vh;
  width: 95vw;
  //Layout
  display: grid;
  grid-template-areas:
    "h"
    "m"
    "f";
}

.header {
  // border: solid 1px green;
  grid-area: "h";
}

.main {
  grid-area: "m";
  margin-top: 4rem;
}

.deskPicContainer {
  // border: solid 1px red;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.work-room {
  // border: 1px solid blue;
  display: flex;
  // padding: 3rem 5rem;
  width: var(--sizeMainPic);
}

.footer {
  grid-area: "f";
}

// -----------CONTENT------

h1 {
  transition: 0.4s ease;
  text-align: center;
  font-size: var(--sizeTitles);
  margin: 2rem;
}

// -----------NAVIGATION

.nav {
  // border: solid 1px red;
  transition: 0.2s ease;
  z-index: 0;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  transform: translateY(1px);
  // margin-bottom: 10rem;
  // padding-right: 2rem;
  // top: 0;
  // background-color: #0c221a;
  opacity: 1;
}
//TODO fix hamburger height on @media screen > 600px
.navTopAnimation {
  transition: 0.2s ease-in;
  z-index: 0;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  // top: 0;
  transform: translateY(-24rem);
  background-color: #0c221a;
  border-bottom: solid 1px #173f31;
}

.hamburger {
  transition: 0.6s ease;
  z-index: 2;
  position: absolute;
  margin-top: 3rem;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  margin-bottom: 3rem;
}

.top-line {
  position: absolute;
  top: 8px;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

.bottom-line {
  position: absolute;
  bottom: 8px;
  width: 100%;
  height: 4px;
  background-color: #fff;
}

// NAVIGATION ON CLICK HAMBURGER MOBILE + DESKTOP
//TODO SET THE ANIMATION HAMBURGER ON CLICK
//TODO SET NAV ITEMS DISPLAY ON CLICK

.nav-list {
  z-index: 1;
  border: 1px solid black;
  visibility: hidden;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.nav-item {
  // border: solid 1px brown;
  padding: 0 1rem;
  width: 33%;
  text-align: center;
}

//---HAMBURGER-ANIM---------

//-------------TABLET---760px---------
